.class {
    display: block;
    overflow: hidden;
    text-align: left;
    padding: 40px;
    color: black;
    font-size: 20px;
}

.column {
    float: left;
    padding: 10px;
}

.thumbnail {
    position: relative;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: black;
}

.thumbnail p {
    margin-top: 15px;
    vertical-align: bottom;
    color: #555;
}

.box {
    padding: 80px 120px;
    background-color: #F5F5F5;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.list-group span {
    background-color: cadetblue;
}

.view-all-link a {
    text-align: left;
    color: #B0B0B0 !important;
    text-decoration: none;
}
.panel{
    position: relative;
    border-radius: 20px;
    margin: 20px;
    /*padding: 20px;*/
    color: black;
}
.panel-heading{
    background-color: #8A9A5B;
    text-align: center;
    border-radius: 20px;
}
.panel-footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.create-btn button{
    /*display: flex;*/
    text-align: center;
    align-items: center;
    border: none;
    background-color: white;

}
.create-btn img{
    padding: 10px;
    height: 50px;
    width: 50px;

}
/*Card Container*/
#card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 10vh;
    width: 100%;
    margin: 8px;
    border-radius: 20px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    background: linear-gradient(to bottom, #ffffff 0%, #E5E4E2 100%);
}

.card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#load-more {
    width: 100%;
    padding: 16px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    font-size: 0.85rem;
    background-color: #E5E4E2;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

#load-more:not([disabled]):hover {
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}

#load-more[disabled] {
    background-color: #eaeaea !important;
}


