.class {
    display: block;
    overflow: hidden;
    text-align: left;
    padding: 40px;
    color: black;
    font-size: 20px;
}
button{
    border: beige;
    background-color: white;
}
a:hover{
    color: #8f8c8c;
    text-decoration: none;
}
a:active{
    color: #8f8c8c;
    text-decoration: none;
}
p{
    color: #000000;
}
h4 {
    display: flex;
    align-self: flex-start;
}

.column {
    float: left;
    padding: 10px;
}

.thumbnail {
    position: relative;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    color: black;
    align-items: baseline;
}

.thumbnail p {
    margin-top: 15px;
    vertical-align: bottom;
    color: #555;
}

.box {
    padding: 80px 120px;
    background-color: #F5F5F5;
}

.panel {
    position: relative;
    margin: 20px 40px auto;
    color: black;
    border-radius: 10px;
}

.panel-heading {
    background-color: #9cad6b;
    text-align: center;
    border-radius: 10px 10px 0 0;
    color: black;
}

.panel-footer {
    display: flex;
    text-align: left;
    align-items: flex-end;
    background-color: #e8e8e8;
    border-radius: 0 0 10px 10px;
    color: black;
}
#panel-footer-code #panel-footer-answer-code{
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #d3d2d2;
    border-radius: 10px;
}

.topic-panel-heading {
    display: flex;
    background-color: white;
    align-items: end;
    text-align: left;

}
#side-panel{
    margin: 100px 10px auto !important;
}
#topic-description{
    margin: 0 15px;
}

.section {
    width: fit-content;
    display: flex;
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    background-color: #d0bf9e;
    font-size: 10px;
}

.section div:active {
    text-decoration: none;
}
.comment-group{
    padding: 40px 40px;
    background-color: #F5F5F5;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
#comment{
    width: 80%;
    border-radius: 20px;
    border: 1px solid gainsboro;
    padding: 10px;
    color: black;
    background-color: white !important;
}
#answer-info{
    display: flex;
    font-size: 15px;
    justify-content: right !important;
    /*width: fit-content;*/
}
.complaint-icon{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}




