a,
a:active,
a:hover,
a::after{
    text-decoration: none;
}

.box {
    padding: 80px 80px;
    background-color: #F5F5F5;
}

.user-panel {
    position: relative;
    border-radius: 20px !important;
    margin: 0 40px auto;
    color: black;
}

.user-panel-heading {
    background-color: #56699b;
    text-align: center;
    border-radius: 20px 20px 0 0;
    color: black;
}
.code-btn {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 20px;
    transition: .2s;
    height: 35px;
}

.code-btn:hover, .code-btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.run-span {
    padding: 6px;
}
.language {
    width: fit-content;
    display: flex;
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    background-color: #c8d993;
    font-size: 10px;
}

.panel {
    margin-bottom: 50px;
    border-radius: 20px;
}

.panel-footer {
    display: flex;
    text-align: left;
    align-items: flex-end;
    background-color: #e8e8e8;
    border-radius: 0 0 10px 10px;
    color: black;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#panel-footer-code {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #d3d2d2;
    border-radius: 10px;
}

.topic-panel-heading {
    display: flex;
    background-color: white;
    align-items: end;
    text-align: left;

}

#topic-description {
    margin: 0 15px;
}

.section {
    width: fit-content;
    display: flex;
    border: 1px solid gainsboro;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    background-color: #fc9e5b;
    font-size: 10px;
}

.section div:active {
    text-decoration: none;
}

