#guest-menu-item, #user-menu-item, #admin-menu-item, #moderator-menu-item {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font: 400 15px/1.8 Lato, sans-serif;
}

a {
    color: black;
}

.nav-tabs a:hover {
    text-decoration: none;
}

.nav-tabs a:active {
    color: gray;
    text-decoration: none;
}

.banner {
    color: ghostwhite;
    background: url('../../resources/static/banner.jpg') top left/cover no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    height: 30px;
    display: flex;
    justify-content: left;
}

ul {
    list-style: none;
}

h3, h4 {
    letter-spacing: 2px;
    font-size: 25px;
    color: #111;
}

.btn {
    padding: 5px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0 20px 20px 0;
    height: 35px;
}

.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-form {
    width: 50%;
}

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30 !important;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: goldenrod !important;
}

.login-dropdown {
    display: none;
}

.account-dropdown {
    display: block;
}

.form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

textarea {
    resize: none;
}