.details-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}
details {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    padding: .5em .5em 0;
    cursor: pointer;
}

summary {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    margin: -.5em -.5em 0;
    padding: .5em;
    border-bottom: 3px solid #c5c5f6;
    border-radius: 30px;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    border-bottom: 3px solid #c5c5f6;
}
.edit-icon{
    display: block;
    font-size: 15px;
    padding-top: 6px;
    padding-left: 10px;
    color: rgba(4, 58, 194, 0.49);
    background: none;
    border: none;
}

/*Verification popup window*/
.fullscreen-container {
    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: Courier, sans-serif;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 9999;
}

.fullscreen-container::-webkit-scrollbar {
    display: none;
}
.update-section {
    background: #fff;
    padding: 80px 0;
    text-align: center;
    width: 45%;
    top: 0;
    bottom: 25%;
    left: 25%;
    right: 25%;
    margin: 50px auto auto;
    border-radius: 200px;
    border: 4px solid rgba(61, 61, 173, 0.78);
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.8) 0 3px 7px -3px;

}

.update-section h3 {
    color: rgba(61, 61, 173, 0.78);
    margin-bottom: 20px;
}

.update-btn{
    text-transform: uppercase;
    background: none;
    color: #fff;
    width: 20%;
    align-self: center;
    border: 1px solid rgba(61, 61, 173, 0.6);
    padding: 4px 4px;
    border-radius: 80px;
    background: rgba(61, 61, 173, 0.6);
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;

}

.update-btn:hover{
    background: #fff;
    color: rgba(61, 61, 173, 0.73);
}
.update-btn:active{
    background-color: white;
    box-shadow: 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

textarea,input{
    margin: .8em auto;
    text-transform: inherit;
    font-size: inherit;
    display: block;
    width: 400px;
    padding: .4em;
    border: none;
    border-radius: 20px;
    background-color: #c5c5f6;
}
textarea{
    height: 200px !important;
    resize: none;
}
.input-size{
    height: 100px !important;
}
#update-count{
 text-align: center;
}
#update-ban-duration, #update-complaint-duration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 45px;
}
#update-ban-duration input, #update-complaint-duration input{
    width: 100px;
    margin: 10px !important;
}